//MQ_functions
@desktop: ~"only screen and (max-width:1620px)";
@tablet: ~"only screen and (max-width:480px)";
//Color variables
@mainTextColor: #333333;
@mainLTextColor: #666666;
@mainGreenColor: #79b021;
@mainGrayColor: #d9d9d9;
@mainOrangeColor: #ff8e35;
@mainLinkColor: #1075c2;
@mainHeadingColor: #4c4c4c;
@fontFamReg: proxima_nova_rgregular;
@fontFamBold: proxima_nova_rgbold;

/////////////////////////////////////////////////////////////////////////////////////////////
// linear transition
.linear_transitions(@ms: .1s) {
	-webkit-transition: ~"all @{ms} ease-in-out";
	-moz-transition: ~"all @{ms} ease-in-out";
	-ms-transition: ~"all @{ms} ease-in-out"; // IE10 uses -ms-flexbox
	-o-transition: ~"all @{ms} ease-in-out"; // IE11
	transition: ~"all @{ms} ease-in-out";
}

//transition-delay
.transition_delay(@ms: 500ms) {
	-webkit-transition-delay: @ms;
    -moz-transition-delay: @ms;
    -ms-transition-delay: @ms;
    -o-transition-delay:@ms;
    transition-delay: @ms;
}


//transform-rotate
.transform-rotate(@deg: 90deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-o-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	transform: rotate(@deg);
}

///////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------
// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-moz-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
	-webkit-flex-direction: @direction;
	-moz-flex-direction: @direction;
	-ms-flex-direction: @direction;
	flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
	-webkit-flex-wrap: @wrap;
	-moz-flex-wrap: @wrap;
	-ms-flex-wrap: @wrap;
	flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> // row | row-reverse | column | column-reverse ||||||| <flex-wrap> // nowrap | wrap | wrap-reverse
.flex-flow(@flow: row wrap) {
	-webkit-flex-flow: @flow;
	-moz-flex-flow: @flow;
	-ms-flex-flow: @flow;
	flex-flow: @flow;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
.justify-content(@justify: flex-start) {
	-webkit-justify-content: @justify;
	-moz-justify-content: @justify;
	-ms-justify-content: @justify;
	justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
.align-content(@align: stretch) {
	-webkit-align-content: @align;
	-moz-align-content: @align;
	-ms-align-content: @align;
	align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
.align-items(@align: stretch) {
	-webkit-align-items: @align;
	-moz-align-items: @align;
	-ms-align-items: @align;
	align-items: @align;
}

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
	-webkit-flex: @columns;
	-moz-flex: @columns;
	-ms-flex: @columns;
	flex: @columns;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
	-webkit-order: @order;
	-moz-order: @order;
	-ms-order: @order;
	order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
	-webkit-flex-grow: @grow;
	-moz-flex-grow: @grow;
	-ms-flex-grow: @grow;
	flex-grow: @grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
.flex-shrink(@shrink: 1) {
	-webkit-flex-shrink: @shrink;
	-moz-flex-shrink: @shrink;
	-ms-flex-shrink: @shrink;
	flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
.flex-basis(@width: auto) {
	-webkit-flex-basis: @width;
	-moz-flex-basis: @width;
	-ms-flex-basis: @width;
	flex-basis: @width;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
.align-self(@align: auto) {
	-webkit-align-self: @align;
	-moz-align-self: @align;
	-ms-align-self: @align;
	align-self: @align;
}

//////////////////////////////
//end flexbox module////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////
body {
	@media @tablet {
		font-size: 1.2em;
	}
	position: absolute;
	width: 100%;
	height: 100%;
	.bgimg {
		@media @tablet {
			display: none;
		}
		position: fixed;
		top: 15%;
		background: url(images/bgimg.png);
		height: 480px;
		width: 100%;
		z-index: -1;
		//		outline: 2px dotted red;
	}
	.mn_wpr {
		@media @desktop {
			overflow: hidden;
		}
		@media @tablet {
			min-width: 480px;
			width: 480px;
		}
		//		outline: 1px dotted red;
		position: relative;
		top: 0;
		width: 1260px;
		min-width: 1260px;
		min-height: 100%;
		margin: 0 auto;
		padding: 0 0 90px 0;
		background-color: #ffffff;
		-webkit-box-shadow: 0px 0px 15px 0.00px rgba(0,
		0,
		0,
		0.2);
		-moz-box-shadow: 0px 0px 15px 0.00px rgba(0,
		0,
		0,
		0.2);
		box-shadow: 0px 0px 15px 0.00px rgba(0,
		0,
		0,
		0.2);
		.catalogbtn {
			background-color: @mainGreenColor;
			width: 40px;
			height: 155px;
			position: absolute;
			z-index: 11;
			top: 105px;
			cursor: pointer;
			.btnzind {
				.flex-display(@display: flex);
				// <flex-direction> // row | row-reverse | column | column-reverse ||||||| <flex-wrap> // nowrap | wrap | wrap-reverse
				.flex-flow(@flow: column nowrap);
				// flex-start | flex-end | center | space-between | space-around
				.justify-content(@justify: space-around);
				.align-items(@align: center);
				height: 100%;
				width: 100%;
				background-color: @mainGreenColor;
				position: relative;
				z-index: 2;
				span {
					font-weight: 700;
					display: block;
					.transform-rotate(@deg: -90deg);
					color: #fff;
					font-size: 1.2em;
					margin: 0 0 25px 0;
					position: relative;
					z-index: 2;
					&::selection {
						background: none;
						text-shadow: none;
					}
				}
				img {
					display: block;
					width: 14px;
					height: 11px;
					position: relative;
					z-index: 2;
					&::selection {
						background: none;
						text-shadow: none;
					}
				}
			}
			//				catalog
			.catalog {
				@media @desktop {
					//							background-color: pink;
				}
				@media @tablet {
					//							background-color: pink;
				}
				position: absolute;
				left: -174px;
				opacity: 0;
				top: 0;
				z-index: 1;
				width: 144px;
				padding: 15px;
				overflow: hidden;
				background: @mainGreenColor;
				//					width: 0;
				.linear_transitions(@ms: .3s);
				list-style-type: disc;
				list-style-position: inside;
				//transition-delay
//.transition_delay(@ms: 500ms) ;


				.catmenuh {
					border-bottom: 2px solid #fff;
					margin: 0 0 15px 0;
					span {
						color: #fff;
						font-weight: bold;
						font-size: 1.1em;
						display: block;
					}
				}
				li {
					color: #eaeaea;
					a {
						color: #fff;
						font-weight: bold;
						font-size: 1.1em;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
					ul {
						list-style: none;
						padding: 0 0 0 15px;
						li {
							a {
								font-size: 0.9em;
								font-weight: normal;
								color: #ecffc0;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
				&.showCat {
					@media @desktop {
						left: 40px;
					}

					opacity: 1;

				}
			}
			//				end_catalog
		}
		////////////////////////////////////////////////////////
		//		second wrapper
		.sec_wrp {
			@media @tablet {
				width: 480px;
				min-width: 480px;
			}
			header {
				height: 280px;
				width: 100%;
				// outline: 1px dotted blue;
				/////////////////////////////
				//			top_navigation//////////////
				////////////////////////////
				nav {
					@media @tablet {
						width: auto;
					}
					height: 69px;
					width: 1160px;
					margin: 0 auto;
					position: relative;
					//				outline: 1px dotted red;
					border-bottom: 1px solid @mainGrayColor;
					ul {
						list-style: none;
						//					outline: 1px dotted red;
						padding: 1.5em 0 0 0;
						li {
							display: inline-block;
							&:nth-child(1) {
								float: left;
								margin: 0 42px 0 0;
								a {
									.logotipe {
										display: block;
										margin: 0 auto;
									}
								}
							}
							&:nth-child(2) {
								float: left;
								margin: 0 45px 0 0;
								a {}
							}
							&:nth-child(3) {
								float: left;
								margin: 0;
								a {}
							}
							&:nth-child(4) {
								float: right;
								margin: 0 160px 0 42px;
								a {}
							}
							&:nth-child(5) {
								float: right;
								margin: 0 0 0 45px;
								a {}
							}
							&:nth-child(6) {
								float: right;
								margin: 0;
								a {}
							}
						}
					}
					a.logotipe {
						position: absolute;
						top: 0px;
						left: 464px;
						background-color: #ffffff;
						padding: 0 47px 0 47px;
					}
					/////////////////////////
				}
				/////////////////////////////
				//			end_top_navigation//////////////
				////////////////////////////
				.maglink_nphone {
					margin: 21px 0 0 0;
					// flex or inline-flex
					.flex-display(@display: flex);
					// flex-start | flex-end | center | space-between | space-around
					.justify-content(@justify: space-around);
					//                min-width: 1260px;
					.flex-basis(@width: 100%);
					a {
						// flex or inline-flex
						.flex-display(@display: flex);
						// flex-start | flex-end | center | space-between | space-around
						.justify-content(@justify: space-around);
						// - applies to: flex itemsnitial main size of the flex item
						// <width>
						// flex-start | flex-end | center | baseline | stretch
						.align-items(@align: center);
						.flex-basis(@width: 190px);
						&:last-child {
							text-decoration: none;
							span {
								color: @mainTextColor;
								font-size: 17px;
								//							font-weight: 700;
								font-family: @fontFamBold;
							}
						}
						img {}
						span {
							color: inherit;
						}
					}
				}
				.nametitle {
					// flex or inline-flex
					.flex-display(@display: flex);
					// row | row-reverse | column | column-reverse
					.flex-direction(@direction: column);
					.align-items(@align: center);
					margin: 50px 0 0 0;
					//                min-width: 1260px;
					.flex-basis(@width: 100%);
					span {
						&:first-child {
							color: @mainLTextColor;
							font-size: 3.1em;
							font-family: @fontFamBold;
							//						font-weight: bold;
							margin: 0 18px 20px 18px;
						}
						&:last-child {
							color: @mainTextColor;
							font-size: 1.3em;
						}
					}
				}
			}
			width: 1160px;
			margin: 0 auto;
			// flex or inline-flex
			.flex-display(@display: flex);
			// flex-start | flex-end | center | space-between | space-around
			.justify-content(@justify: space-between);
			// <flex-direction> || <flex-wrap>
			.flex-flow(@flow: row wrap);
			.main_flexslider {
				//            width: 1160px;
				.flex-basis(@width: 100%);
				margin: 0 auto;
				overflow: hidden;
				border-bottom: 2px solid #79b021;
			}
			section {
				@media @tablet {
					padding: 0 10px 0 10px;
				}
				//				outline: 1px dotted red;
				// <width>
				.flex-basis(@width: 640px);
				margin: 60px 0 0 0;
				.heading {
					.flex-basis(@width: 100%);
					border-bottom: 3px solid @mainGreenColor;
					padding: 0 0 10px 0;
					margin: 0 0 30px 0;
					span {
						font-size: 2.2em;
						color: @mainHeadingColor;
					}
				}
				.newsblock {
					.flex-display(@display: flex);
					// <flex-direction> || <flex-wrap>
					.flex-flow(@flow: row-reverse wrap-reverse);
					// flex-start | flex-end | center | space-between | space-around
					.justify-content(@justify: space-between);
					li {
						@media @tablet {
							.flex-basis(@width: 100%);
						}
						.flex-display(@display: flex);
						.flex-basis(@width: 280px);
						// <flex-direction> // row | row-reverse | column | column-reverse ||||||| <flex-wrap> // nowrap | wrap | wrap-reverse
						.flex-flow(@flow: row wrap);
						// flex-start | flex-end | center | baseline | stretch
						.align-items(@align: center);
						.date_b {
							display: inline-block;
							width: 36px;
							height: 36px;
							background-color: @mainOrangeColor;
							font-size: 24px;
							color: #fff;
							margin: 0 10px 0 0;
							.flex-display(@display: flex);
							.align-items(@align: center);
							.justify-content(@justify: center);
						}
						.mounth_b {
							font-size: 0.9em;
						}
						.head_b {
							.flex-basis(@width: 100%);
							margin: 10px 0 0 0;
						}
						p {
							font-size: 0.9em;
							margin: 25px 0 30px 0;
							line-height: 20px;
						}
					}
				}
				article {
					h1 {
						color: @mainHeadingColor;
						font-size: 2.4em;
					}
				}
				.brends_b {
					@media @tablet {
						.flex-flow(@flow: row wrap);
					}
					margin: 30px 0 0 0;
					.flex-display(@display: flex);
					//						.flex-basis(@width: 280px) ;
					// <flex-direction> // row | row-reverse | column | column-reverse ||||||| <flex-wrap> // nowrap | wrap | wrap-reverse
					.flex-flow(@flow: row nowrap);
					// flex-start | flex-end | center | baseline | stretch
					.align-items(@align: center);
					ul {
						@media @tablet {
							.flex-basis(@width: 100%);
						}
						.flex-display(@display: flex);
						// <flex-direction> // row | row-reverse | column | column-reverse ||||||| <flex-wrap> // nowrap | wrap | wrap-reverse
						.flex-flow(@flow: row wrap);
						// flex-start | flex-end | center | baseline | stretch
						.align-items(@align: center);
						.flex-basis(@width: 1160px);
						li {
							margin: 0 15px 0 0;
							border: 1px solid @mainGrayColor;
							a {}
						}
					}
					p {
						.flex-display(@display: flex);
						.flex-basis(@width: 100%);
						color: #418201;
					}
				}
			}
			aside {
				@media @tablet {
					display: none;
				}
				.flex-basis(@width: 440px);
				//				outline: 1px dotted red;
				margin: 60px 0 0 0;
				.blog_b {
					margin: 30px 0 0 0;
					.flex-display(@display: flex);
					// <flex-direction> // row | row-reverse | column | column-reverse ||||||| <flex-wrap> // nowrap | wrap | wrap-reverse
					.flex-flow(@flow: column nowrap);
					// flex-start | flex-end | center | baseline | stretch
					.align-items(@align: stretch);
					.flex-basis(@width: 100%);
					li {
						.flex-display(@display: flex);
						// <flex-direction> // row | row-reverse | column | column-reverse ||||||| <flex-wrap> // nowrap | wrap | wrap-reverse
						.flex-flow(@flow: row nowrap);
						.justify-content(@justify: space-between);
						margin: 0 0 40px 0;
						&:nth-child(2n) {
							// <flex-direction> // row | row-reverse | column | column-reverse ||||||| <flex-wrap> // nowrap | wrap | wrap-reverse
							.flex-flow(@flow: row-reverse nowrap);
						}
						.text_items {
							.flex-display(@display: flex);
							// <flex-direction> // row | row-reverse | column | column-reverse ||||||| <flex-wrap> // nowrap | wrap | wrap-reverse
							.flex-flow(@flow: column nowrap);
							.flex-basis(@width: 280px);
							h3 {
								font-family: @fontFamBold;
								font-size: 1.2em;
								color: @mainHeadingColor;
								margin: 0 0 19px 0;
								//								.flex-basis(@width:286px);
							}
							p {
								font-size: 0.9em;
								line-height: 20px;
								-ms-flex: 0 1 auto;
							}
							a {
								font-size: 0.9em;
								line-height: 20px;
							}
						}
						img {
							width: 130px;
							height: 130px;
						}
					}
				}
			}
			div.contacts {
				.flex-basis(@width: 100%);
				//				outline: 1px dotted red;
				margin: 60px 0 0 0;
				padding: 0 10px 0 10px;
				.heading {
					.flex-display(@display: flex);
					.flex-basis(@width: 100%);
					// flex-start | flex-end | center | baseline | stretch
					.align-items(@align: baseline);
					.flex-flow(@flow: row wrap);
					border-top: 1px solid @mainGrayColor;
					border-bottom: 3px solid @mainGreenColor;
					padding: 20px 0 0 0;
					margin: 0 0 30px 0;
					////////////////////////////////////////////////////////////////////////////////////////
					span {
						@media @tablet {
							.flex-basis(@width: 100%);
							margin: 0 0 20px 0
						}
						font-size: 2.2em;
						color: @mainHeadingColor;
						margin: 0 15px 0 0
					}
					div {
						@media @tablet {
							padding: 0 8px 0 8px;
							height: 38px;
							margin: 0 10px 10px 0;
						}
						height: 43px;
						background: @mainGrayColor;
						padding: 0 15px 0 15px;
						margin: 0 11px 0 11px;
						.flex-display(@display: flex);
						.justify-content(@justify: center);
						// flex-start | flex-end | center | baseline | stretch
						.align-items(@align: center);
						font: 1.1em @fontFamBold;
						cursor: pointer;
						&.active_btn {
							@media @tablet {
								//							padding: 0 5px 0 5px;
								height: 38px;
							}
							background: @mainGreenColor;
							height: 47px;
							color: #fff;
						}
					}
				}
				.head_add {
					.flex-display(@display: flex);
					.flex-flow(@flow: column nowrap);
					div {
						.flex-display(@display: flex);
						.justify-content(@justify: space-between);
						.align-content(@align: space-between);
						.flex-grow(@grow: 1);
						display: none;
						display: inherit;
						//						&.active_head_add {
						//
						//						}
						span {
							.flex-basis(@width: 290px);
							.flex-grow(@grow: 1);
							padding: 0 54px 0 0;
						}
					}
				}
				/////////////////////////////
				.map_block {
					.flex-basis(@width: 100%);
					min-height: 400px;
					//					outline: 1px dotted red;
					margin: 37px 0 0 0;
				}
			}
		}
		footer {
			.flex-display(@display: flex);
			.flex-flow(@flow: row nowrap);
			.flex-basis(@width: 100%);
			.justify-content(@justify: space-between);
			//				.align-content(@align: center);
			height: 80px;
			//				outline: 1px dotted red;
			margin: 60px 0 0 0;
			padding: 0 50px 0 50px;
			background: @mainGreenColor;
			ul {
				.flex-display(@display: flex);
				.flex-flow(@flow: row nowrap);
				//				.flex-basis(@width: 100%);
				.justify-content(@justify: center);
				.align-items(@align: center);
				&:first-child {
					li {
						.flex-display(@display: flex);
						.flex-flow(@flow: row nowrap);
						//				.flex-basis(@width: 100%);
						.justify-content(@justify: center);
						.align-items(@align: center);
						margin: 0 54px 0 0;
						img {
							margin: 0 8px 0 0;
						}
						span {
							color: #fff;
						}
					}
				}
				&:last-child {
					li {
						margin: 0 0 0 10px;
						a {
							img {
								.linear_transitions(@ms: .1s)
							}
							&:hover {
								img {
									opacity: 0.8;
								}
							}
						}
					}
				}
			}
		}
		//		end second wrapper
		////////////////////////////////////////////////////////
	}
}
