//Color variables
@mainTextColor: #333333;
@mainLTextColor: #666666;
@mainGreenColor: #79b021;
@mainGrayColor: #d9d9d9;
@mainOrangeColor: #ff8e35;
@mainLinkColor: #1075c2;
@mainHeadingColor: #4c4c4c;
@fontFamReg: proxima_nova_rgregular;
@fontFamBold: proxima_nova_rgbold;

//MQ_variables
@desktop: ~"only screen and (max-device-width:1620px)";

@mini_tablet: ~"only screen and (min-device-width: 10px) and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2)";



@tablet: ~"only screen and (min-device-width: 10px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)";

/* Landscape */
@l_tablet: ~"only screen and (min-device-width: 667px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)";
