//Color variables
@mainTextColor: #333333;
@mainLTextColor: #666666;
@mainGreenColor: #79b021;
@mainGrayColor: #d9d9d9;
@mainOrangeColor: #ff8e35;
@mainLinkColor: #1075c2;
@mainHeadingColor: #4c4c4c;
@fontFamReg: proxima_nova_rgregular;
@fontFamBold: proxima_nova_rgbold;

//MQ_variables
@desktop: ~"only screen and (max-width:1620px)";

@tablet: ~"only screen and (min-device-width:10px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)";
@l_tablet: ~"only screen and (min-device-width:10px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)";

@mini_tablet: ~"only screen and (min-device-width:10px) and (max-device-width: 350px) and (-webkit-min-device-pixel-ratio: 2)";






/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}
