//Color variables
@mainTextColor: #333333;
@mainLTextColor: #666666;
@lightBlue: #edfbff;
@mainGreenColor: #79b021;
@mainGrayColor: #d9d9d9;
@mainOrangeColor: #ff8e35;
@mainLinkColor: #1075c2;
@mainHeadingColor: #4c4c4c;
@fontFamReg: proxima_nova_rgregular;
@fontFamBold: proxima_nova_rgbold;

//MQ_variables
@desktop: ~"only screen and (max-width:1720px)";

@mini_tablet: ~"only screen and (min-width: 10px) and (max-width: 420px)";



@tablet: ~"only screen and (min-width: 10px) and (max-width: 667px)";

/* Landscape */
@l_tablet: ~"only screen and (min-width: 667px) and (max-width: 1024px) and (orientation: landscape)";
