<h1 id="-egg-js-"><code>Egg.js</code></h1>
<p><img src="http://thatmikeflynn.com/egg.js/eggjs.png" alt="Egg.js"></p>
<p>Egg.js is a simple JS library that has no prerequisites and allows you to easily add web easter eggs by watching the user&#39;s key strokes.</p>
<h3 id="example">Example</h3>
<p>It&#39;s really easy to use. Just include the egg.js file on the page...</p>
<pre><code class="lang-html">&lt;script type=&quot;text/javascript&quot; src=&quot;/path/to/egg.js&quot;&gt;&lt;/script&gt;
</code></pre>
<p>...then use the <code>addCode()</code> function to add in your easter eggs. You need to pass it the character sequence to trigger the easter egg callback (which can either be in plain English or Javascript key codes), a function to trigger when it happens, and an optional set of metadata. Metadata can be anything from a string to an object.</p>
<pre><code class="lang-js">var egg = new Egg();
egg
  .addCode(&quot;up,up,down,down,left,right,left,right,b,a&quot;, function() {
    jQuery(&#39;#egggif&#39;).fadeIn(500, function() {
      window.setTimeout(function() { jQuery(&#39;#egggif&#39;).hide(); }, 5000);
    }, &quot;konami-code&quot;);
  })
  .addHook(function(){
    console.log(&quot;Hook called for: &quot; + this.activeEgg.keys);
    console.log(this.activeEgg.metadata);
  })
  .listen();
</code></pre>
<p>You can also define the easter egg using the constructor:</p>
<pre><code class="lang-js">var egg = new Egg(&quot;up,up,down,down,left,right,left,right,b,a&quot;, function() {
  jQuery(&#39;#egggif&#39;).fadeIn(500, function() {
    window.setTimeout(function() { jQuery(&#39;#egggif&#39;).hide(); }, 5000);
  }, &quot;konami-code&quot;);
}).listen();
</code></pre>
<p>You can also add a hook, as shown above using <code>addHook()</code>, that will run after any egg code is triggered. You could use it to fire a Google Analytics event or send out a tweet that someone finally found your easter egg. Hooks get access to the whole Egg.js object so you can pull information about the easter egg that fired via <code>this.activeEgg</code></p>
<p>You can see a live example of this on <code>egg.js</code> <a href="http://thatmikeflynn.com/egg.js/">website</a>.</p>
<h3 id="why-">Why?</h3>
<p>I put an easter egg in pretty much everything I make and after copying the same basic code over and over again I figured I should make it in to a simple library for my own use.</p>
<h3 id="credits">Credits</h3>
<p>Created by Mike Flynn / <a href="http://twitter.com/thatmikeflynn">@thatmikeflynn</a> and Rob McVey / <a href="http://twitter.com/negative_sleep">@negative_sleep</a></p>
